[submodule "ext/histweight"]
	path = ext/histweight
	url = https://github.com/andrepiz/histweight
[submodule "validation/amiextractor"]
	path = validation/amiextractor
	url = https://github.com/andrepiz/amiextractor
[submodule "validation/amie/amiextractor"]
	path = validation/amie/amiextractor
	url = https://github.com/andrepiz/amiextractor.git
