[submodule "yamlmatlab"]
	path = code/lib/yamlmatlab
	url = https://github.com/ewiger/yamlmatlab.git
	branch = master
[submodule "cvt"]
	path = code/lib/cvt
	url = https://github.com/andrepiz/cvt.git
	branch = develop
	update = merge